<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Clock</title>
    <link rel="stylesheet" href="assets/dig.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css" />
</head>
<body>
    <div class="wrapper animated bounceInLeft">
        <div class="container">
            <div class ="info">
            
                <ul>
                    <li><i class="fa fa-road "></i> Designed by Anuebunwa Daniel</li>
                    
                    <li><i class="fa fa-phone"></i> Contact: +2348036541679</li>
                    
    
                    <li><i class="fa fa-envelope"></i> anuebunwadaniel66@gmail.com</li>
                    
                    <li><i class="fa fa-github"></i> GitHub: Anuebunwa-daniel</i></li>
                  </ul>
                  
        
            </div>

            <div class="con">
    <h2 class="ti">Digital Clock</h2>

    <div class="clock">
        
        <h2 class="time">
            00:00:00</h2>
    </div>
    </div>
</div>
</div>
    <script src="assets/cloc.js"></script>
</body>
</html>