body{
    background-color: rgb(199, 195, 195);
    color:black;
    line-height: 1.6;
    padding:1em;
}

.container{
    display: flex;
    /* margin-right:; */
    margin-left:100px;
}
.wrapper{
    box-shadow: 0 0 20px 0 black;
}

.info{
    /* position: absolute; */
    background-color: rgb(114, 116, 225);
    height:300px;
    width: 30%;
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: 100px;
    /* border:  1px solid black; */
    padding: 20px;
    font-weight: bold;

}
.info ul{
    text-align: center;
    margin: 0 0 1rem 0;
}
ul{
    list-style: none;
    padding: 0;
    line-height: 1.6;
}
ul{
    color:white;
}
.con{
   
    background-color:rgb(63, 24, 95);
    height: 300px;;
    width: 40%;
    margin-top: 70px;
    margin-right: 100px;
    /* margin-left: 40px; */
    margin-bottom: 70px;
    padding: 20px;
}
.ti{
    text-align: center;
    color: white;
}

.time{
    text-align: center;
    height: 100px;
    width: 275px;
    border: 1px solid black;
    background-color: gold;
    border-radius: 15px;
    margin-left: -20px;
    font-size: 50px;
    
}
.clock{
   margin-left: 20%;

   height: 100px;
    width: 200px;
}

@media screen and (max-width :700px){
    .container{
       display: block;
       margin-left: -70px;
       /* width: 300px; */
    
        
        
    }
    .info{
        width: 300px;
        height: 150px;
        margin-top: 30px;
        margin-left: 70px;
    }
    .con{
        margin-top: -70px;
        width: 300px;
        height: auto;
        margin-left: 70px;
    }
    .time{
        margin-left: -50px;
    }
/* 
    .wrapper > *{
        padding:2em;
    } */
    
    .info, .info ul{
        text-align: left;
        line-height: 2;
    }
}